<section>
    <div id='content'>
        <div class='name'>
            Recent Upload
        </div>
        <div id='upload'>
            <div>
                <video src="../../../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='recent-upload'>
                <div id='recent-upload-header'>
                    CARA MEMASAK ANGIN
                </div>
                <div id='recent-upload-counter'>
                    <span> 2,000,000 views</span>
                    <span> • </span>
                    <span>1 day ago</span>
                </div>
                <div id='recent-upload-comment'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolores necessitatibus omnis adipisci? Eveniet illo veniam nobis amet saepe et quis ad ut non? Nobis, qui ea? Eligendi, corrupti pariatur?
                </div>
            </div>
        </div>
        <hr>
        <div class='name'>
            Videos
        </div>
        <div id='list'>
            <div>
                <video src="../../../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='recent-upload'>
                <div id='recent-upload-header'>
                    CARA MEMASAK ANGIN
                </div>
                <div id='recent-upload-counter'>
                    <span> 2,000,000 views</span>
                    <span> • </span>
                    <span>1 day ago</span>
                </div>
                <div id='recent-upload-comment'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolores necessitatibus omnis adipisci? Eveniet illo veniam nobis amet saepe et quis ad ut non? Nobis, qui ea? Eligendi, corrupti pariatur?
                </div>
            </div>
        </div>
        <div id='list'>
            <div>
                <video src="../../../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='recent-upload'>
                <div id='recent-upload-header'>
                    CARA MEMASAK ANGIN
                </div>
                <div id='recent-upload-counter'>
                    <span> 2,000,000 views</span>
                    <span> • </span>
                    <span>1 day ago</span>
                </div>
                <div id='recent-upload-comment'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolores necessitatibus omnis adipisci? Eveniet illo veniam nobis amet saepe et quis ad ut non? Nobis, qui ea? Eligendi, corrupti pariatur?
                </div>
            </div>
        </div>
        <div id='list'>
            <div>
                <video src="../../../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='recent-upload'>
                <div id='recent-upload-header'>
                    CARA MEMASAK ANGIN
                </div>
                <div id='recent-upload-counter'>
                    <span> 2,000,000 views</span>
                    <span> • </span>
                    <span>1 day ago</span>
                </div>
                <div id='recent-upload-comment'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolores necessitatibus omnis adipisci? Eveniet illo veniam nobis amet saepe et quis ad ut non? Nobis, qui ea? Eligendi, corrupti pariatur?
                </div>
            </div>
        </div>
        <div id='list'>
            <div>
                <video src="../../../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='recent-upload'>
                <div id='recent-upload-header'>
                    CARA MEMASAK ANGIN
                </div>
                <div id='recent-upload-counter'>
                    <span> 2,000,000 views</span>
                    <span> • </span>
                    <span>1 day ago</span>
                </div>
                <div id='recent-upload-comment'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolores necessitatibus omnis adipisci? Eveniet illo veniam nobis amet saepe et quis ad ut non? Nobis, qui ea? Eligendi, corrupti pariatur?
                </div>
            </div>
        </div>
        <div id='list'>
            <div>
                <video src="../../../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='recent-upload'>
                <div id='recent-upload-header'>
                    CARA MEMASAK ANGIN
                </div>
                <div id='recent-upload-counter'>
                    <span> 2,000,000 views</span>
                    <span> • </span>
                    <span>1 day ago</span>
                </div>
                <div id='recent-upload-comment'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolores necessitatibus omnis adipisci? Eveniet illo veniam nobis amet saepe et quis ad ut non? Nobis, qui ea? Eligendi, corrupti pariatur?
                </div>
            </div>
        </div>
        <hr>
        <div class='name'>
            Created Playlist
        </div>
        <div id='playlist'>
            <div id='playlist-main'>
                <div id='playlist-video'>
                    <video src="../../../../assets/dummyVideo.mp4"></video>
                </div>
                <div id='playlist-desc'>
                    <div id='desc-header'>The Last Of Us</div>
                    <div id='desc-update'>Updated 4 days ago</div>
                    <div id='desc-button'>VIEW FULL PLAYLIST</div>
                </div>
            </div>
            <div id='playlist-main'>
                <div id='playlist-video'>
                    <video src="../../../../assets/dummyVideo.mp4"></video>
                </div>
                <div id='playlist-desc'>
                    <div id='desc-header'>The Last Of Us</div>
                    <div id='desc-update'>Updated 4 days ago</div>
                    <div id='desc-button'>VIEW FULL PLAYLIST</div>
                </div>
            </div>
            <div id='playlist-main'>
                <div id='playlist-video'>
                    <video src="../../../../assets/dummyVideo.mp4"></video>
                </div>
                <div id='playlist-desc'>
                    <div id='desc-header'>The Last Of Us</div>
                    <div id='desc-update'>Updated 4 days ago</div>
                    <div id='desc-button'>VIEW FULL PLAYLIST</div>
                </div>
            </div>
        </div>
    </div>
    <div id='community-preference'>
        <div id='featured-header'>
            Featured Channel
        </div>
        <hr>
        <div id='featured-content'>
            <div id='featured-content-user'>
                <div><img src="../../../../assets/jarjit-picture.png" alt=""></div>
                <div id='featured-content-name'>Jarjit</div>
            </div>
            <div><button>SUBSCRIBE</button></div>
        </div>
        <div id='featured-content'>
            <div id='featured-content-user'>
                <div><img src="../../../../assets/jarjit-picture.png" alt=""></div>
                <div id='featured-content-name'>Jarjit</div>
            </div>
            <div><button>SUBSCRIBE</button></div>
        </div>
    </div>
</section>