<header>
  <div id='sidebar-hide'>
    <div id='sidebar'>
      <div class='container'>
        <div class='container-header'>
          <span (click)='hide()'>
            <img src="../../assets/hamburger-menu.png" alt="" class='icon'>
          </span>
          <a href="main/home">
            <span>
              <img src="../../assets/logo yourjube logo.png" alt="" class="yutub">
            </span>
          </a>
        </div>
        <hr>
        <div class='container-title'>
          <a href="main/home">
            <div>
              <span>
               <img src="../../assets/sidebar/_home.png" alt="">
              </span>
              <span class='word'>
               Home
              </span>
            </div>
          </a>
          <a href="main/trending">
            <div>
             <span>
               <img src="../../assets/sidebar/_trending.png" alt="">
              </span>
              <span class='word'>
               Trending
              </span>
            </div>
          </a>
          <a href="main/subscriptions">
            <div>
             <span>
               <img src="../../assets/sidebar/_subscribtions.png" alt="">
              </span>
              <span class='word'>
               Subscriptions
              </span>
            </div>
          </a>
        </div>
        <hr>
        <div class='container-content'>
          <a href="main/playlist">
            <div>
              <span>
                  <img src="../../assets/sidebar/_library.png" alt="">
              </span>
              <span class='word'>
              Library
              </span>
            </div>
          </a>
          <a href="main/channel/home">
            <div>
              <span>
               <img src="../../assets/sidebar/_history.png" alt="">
              </span>
              <span class='word'>
               History
              </span>
            </div>
          </a>
        </div>
        <hr>
        <div class="container-premium">
          <a href="main/premium">
          <div>
            <span>
              <img src="../../assets/sidebar/_premium.png" alt="">
            </span>
            <span class='word'>
             Premium
            </span>
          </div>
          </a>
          <a href="main/gaming">
            <div>
              <span>
              <img src="../../assets/gpad.png" alt="">
              </span>
              <span class='word'>
              Game
              </span>
            </div>
          </a>
          <a href="main/music">
            <div>
              <span>
              <img src="../../assets/music.png" alt="">
              </span>
              <span class='word'>
              Music
              </span>
            </div>
          </a>
          <a href="main/new">
            <div>
              <span>
               <img src="../../assets/news.png" alt="">
              </span>
              <span class='word'>
               New
              </span>
            </div>
          </a>
          <a href="main/movie">
            <div>
              <span>
               <img src="../../assets/movie.png" alt="">
              </span>
              <span class='word'>
               Movie
              </span>
            </div>
          </a>
        </div>
        <hr>
        <div class="container-link">
          <a href="https://www.youtube.com/about/">About</a>
          <a href="https://www.youtube.com/howyoutubeworks/policies/copyright/">Copyright</a>
          <a href="https://www.youtube.com/t/contact_us">Contact Us</a>
          <a href="https://www.youtube.com/creators/">Creators</a>
          <br><br><br>
          © 2020 YouRJube
        </div>
      </div>
      <div class='blank'>
      </div>
    </div>
  </div>
  <div id='setting'>
    <div class='setting-container'>
      <div id='setting-container-main'>
        <div (click)='HideLocation()'>
          <span><img src="../../assets/setting/_world.png" alt=""></span>
          <span>Location</span>
          <span class='setting-container-arrow'>></span>
        </div>
        <div (click)='HideShortcut()'>
          <span><img src="../../assets/setting/_keyboard.png" alt=""></span>
          <span>Shortcut</span>
        </div>
        <hr>
        <div (click)='HideRestricted()'>
          <span>Restricted Mode</span>
        </div>
      </div>
      <div id='setting-container-location'>
        <div class='back' (click)='HideLocation()'>
          <img src="../../assets/_arrow.png" alt="">
          <span>Back</span>
        </div>
        <hr>
        <div>
          <span>Japan</span>
        </div>
        <div>
          <span>Indonesia</span>
        </div>
        <div>
          <span>USA</span>
        </div>
        <div>
          <span>China</span>
        </div>
        <div>
          <span>Malaysia</span>
        </div>
      </div>
      <div id='setting-container-restricted'>
        <div class="back" (click)='HideRestricted()'>
          <img src="../../assets/_arrow.png" alt="">
          <span>Back</span>
        </div>
        <hr>
        <div>
          <span>Restrited Mode</span>
          <span id='setting-container-restricted-slider'>
            <input type="checkbox">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div id="header-sticky">
      <div id='nav-bar'>
        <div id="kiri">
          <span (click)='hide()'>
            <img src="../assets/hamburger-menu.png" alt="" class="icon">
          </span>
          <span>
            <img src="../assets/logo yourjube logo.png" alt="" id="logo">
          </span>
        </div>
        <div id="search">
          <span id="search-box">
            <input type="text" placeholder="search">
            <button><img src="../assets/search-button.png" alt=""></button>
          </span>
        </div>
        <div id="kanan">
          <a href="/main/upload">
            <span>
              <img src="../assets/cv-fix.png" alt="" class="icon-user">
            </span>
          </a>
          <span>
            <img src="../assets/youtube-apps.png" alt="" class="icon-user">
          </span>
          <span (click)='HideSetting()'>
            <img src="../../assets/setting.png" alt="" class="icon-user">
          </span>
          <span>
            <button id="sign-in-button"><img src="../assets/sign-in.png" alt="" class="icon-sign-in"></button>
          </span>
        </div>    
      </div>
  </div>
  <div id='shortcut'>
    <div id='setting-shortcut'>
      <div id='setting-shortcut-header'>
        <h1>Keyboard shortcuts</h1>
      </div>
      <hr>
      <div id='setting-shortcut-content'>
        <div>
          <div class='shortcut-content-header'>
            <div>PLAYBACK</div>
          </div>  
          <hr> 
          <div>
            <div class='shortcut-content-content'>
              <div>
                <div>Toggle play/pause</div>
                <div>k</div>
              </div>
              <hr>
              <div>
                <div>Rewind 10 seconds</div>
                <div>j</div>
              </div>
              <hr>
              <div>
                <div>Fast forward 10 seconds</div>
                <div>l</div>
              </div>
            </div>
          </div> 
        </div>
        <div>
          <div class="shortcut-content-header">
            <div>GENERAL</div>
          </div>
          <hr>
          <div class="shortcut-content-content">
            <div>
              <div>Toggle full screen</div>
              <div>f</div>
            </div>
            <hr>
            <div>
              <div>Toggle theater mode</div>
              <div>t</div>
            </div>
          </div>
        </div>
    </div>
      <hr>
      <div id='setting-shortcut-footer'>
        <span (click)='HideShortcut()'>
          <h2>dismiss</h2>
        </span>
      </div>
    </div>
  </div>
  </header>
