<div id="row-video">
    <a href="main/videoPlayer">
        <span>
            <video src="../../assets/dummyVideo.mp4"></video>
            <h1>Title</h1>
            <p>Desc</p>
        </span>
    </a>
    <a href="main/videoPlayer">
        <span>
            <video src="../../assets/dummyVideo.mp4"></video>
            <h1>Title</h1>
            <p>Desc</p>
        </span>
    </a>
    <a href="main/videoPlayer">
        <span>
            <video src="../../assets/dummyVideo.mp4"></video>
            <h1>Title</h1>
            <p>Desc</p>
        </span>
    </a>
    <a href="main/videoPlayer">
        <span>
            <video src="../../assets/dummyVideo.mp4"></video>
            <h1>Title</h1>
            <p>Desc</p>
        </span>
    </a>
</div>
