<section>
    <!-- <div id='not-user'>
        <div id='not-user-image'>
            <img src="../../assets/subscriptions.png" alt="">
        </div>
        <div id='not-user-message'>
            <div>
                Don’t miss new videos
            </div>
            <div>
                Sign in to see updates from your favorite YouTube channels
            </div>
            <div>
                <button><img src="../../assets/sign-in.png" alt=""></button>
            </div>
        </div>
    </div> -->
    <div id='content'>
        <div id='content-header'>
            Today
        </div>
        <div id='content-list'>
            <div>
                <div>
                    <video src="../../assets/dummyVideo.mp4"></video>
                </div>
                <div id='content-detail'>
                    <div>Cara Memasak Angin</div>
                    <div>JarjitStudios</div>
                    <div>
                        <span>191 views</span>
                        <span> • </span>
                        <span>Today</span>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <video src="../../assets/dummyVideo.mp4"></video>
                </div>
                <div id='content-detail'>
                    <div>Cara Memasak Angin</div>
                    <div>JarjitStudios</div>
                    <div>
                        <span>191 views</span>
                        <span> • </span>
                        <span>Today</span>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <video src="../../assets/dummyVideo.mp4"></video>
                </div>
                <div id='content-detail'>
                    <div>Cara Memasak Angin</div>
                    <div>JarjitStudios</div>
                    <div>
                        <span>191 views</span>
                        <span> • </span>
                        <span>Today</span>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <video src="../../assets/dummyVideo.mp4"></video>
                </div>
                <div id='content-detail'>
                    <div>Cara Memasak Angin</div>
                    <div>JarjitStudios</div>
                    <div>
                        <span>191 views</span>
                        <span> • </span>
                        <span>Today</span>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <video src="../../assets/dummyVideo.mp4"></video>
                </div>
                <div id='content-detail'>
                    <div>Cara Memasak Angin</div>
                    <div>JarjitStudios</div>
                    <div>
                        <span>191 views</span>
                        <span> • </span>
                        <span>Today</span>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <video src="../../assets/dummyVideo.mp4"></video>
                </div>
                <div id='content-detail'>
                    <div>Cara Memasak Angin</div>
                    <div>JarjitStudios</div>
                    <div>
                        <span>191 views</span>
                        <span> • </span>
                        <span>Today</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
