<section>
    <div id='playlist-header'>
        <div id='word'>
            Created Playlists
        </div>
        <div id='sort'>
            <i class="fa fa-sort" aria-hidden="true"></i>
             SORT BY
        </div>
    </div>
    <div id='playlist'>
        <div id='playlist-main'>
            <div id='playlist-video'>
                <video src="../../../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='playlist-desc'>
                <div id='desc-header'>The Last Of Us</div>
                <div id='desc-update'>Updated 4 days ago</div>
                <div id='desc-button'>VIEW FULL PLAYLIST</div>
            </div>
        </div>
        <div id='playlist-main'>
            <div id='playlist-video'>
                <video src="../../../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='playlist-desc'>
                <div id='desc-header'>The Last Of Us</div>
                <div id='desc-update'>Updated 4 days ago</div>
                <div id='desc-button'>VIEW FULL PLAYLIST</div>
            </div>
        </div>
        <div id='playlist-main'>
            <div id='playlist-video'>
                <video src="../../../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='playlist-desc'>
                <div id='desc-header'>The Last Of Us</div>
                <div id='desc-update'>Updated 4 days ago</div>
                <div id='desc-button'>VIEW FULL PLAYLIST</div>
            </div>
        </div>
    </div>
</section>