<section>
    <div class="recomendation">
        <span>
            <a href="main/gaming"><img src="../../assets/gpad.png" alt=""></a>
        </span>
        <span>
            <a href="main/music"><img src="../../assets/music.png" alt=""></a>
        </span>
        <span>
            <a href="main/new"><img src="../../assets/news.png" alt=""></a>
        </span>
        <span>
            <a href="main/movie"><img src="../../assets/movie.png" alt=""></a>
        </span>
    </div>
    <hr>
    <div class="video-list">
        <div>
            <video src="../../assets/dummyVideo.mp4"></video>
        </div>
        <div class="header">
            <span><h2>test</h2></span>
            <div class='middle'>
                <span>WA cara memasang angin</span>
            </div>
            <span class='bottom'>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur mollitia enim voluptatibus dicta error eveniet unde ipsa sint, praesentium sapiente hic architecto, adipisci dolore doloremque cupiditate a aspernatur possimus odit.
            </span>
        </div>
    </div>
    <div class="video-list">
        <div>
            <video src="../../assets/dummyVideo.mp4"></video>
        </div>
        <div class="header">
            <span><h2>test</h2></span>
            <div class='middle'>
                <span>WA cara memasang angin</span>
            </div>
            <span class='bottom'>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur mollitia enim voluptatibus dicta error eveniet unde ipsa sint, praesentium sapiente hic architecto, adipisci dolore doloremque cupiditate a aspernatur possimus odit.
            </span>
        </div>
    </div>
    <div class="video-list">
        <div>
            <video src="../../assets/dummyVideo.mp4"></video>
        </div>
        <div class="header">
            <span><h2>test</h2></span>
            <div class='middle'>
                <span>WA cara memasang angin</span>
            </div>
            <span class='bottom'>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur mollitia enim voluptatibus dicta error eveniet unde ipsa sint, praesentium sapiente hic architecto, adipisci dolore doloremque cupiditate a aspernatur possimus odit.
            </span>
        </div>
    </div>
</section>