<section>
    <div class='title'>
        <h2>Music</h2>
    </div>
    <div>
        <div class="video-list">
            <div>
                <video src="../../assets/dummyVideo.mp4"></video>
            </div>
            <div class="header">
                <span><h2>test</h2></span>
                <div class='middle'>
                    <span>WA cara memasang angin</span>
                </div>
                <span class='bottom'>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur mollitia enim voluptatibus dicta error eveniet unde ipsa sint, praesentium sapiente hic architecto, adipisci dolore doloremque cupiditate a aspernatur possimus odit.
                </span>
            </div>
        </div>
        <div class="video-list">
            <div>
                <video src="../../assets/dummyVideo.mp4"></video>
            </div>
            <div class="header">
                <span><h2>test</h2></span>
                <div class='middle'>
                    <span>WA cara memasang angin</span>
                </div>
                <span class='bottom'>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur mollitia enim voluptatibus dicta error eveniet unde ipsa sint, praesentium sapiente hic architecto, adipisci dolore doloremque cupiditate a aspernatur possimus odit.
                </span>
            </div>
        </div>
        <div class="video-list">
            <div>
                <video src="../../assets/dummyVideo.mp4"></video>
            </div>
            <div class="header">
                <span><h2>test</h2></span>
                <div class='middle'>
                    <span>WA cara memasang angin</span>
                </div>
                <span class='bottom'>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur mollitia enim voluptatibus dicta error eveniet unde ipsa sint, praesentium sapiente hic architecto, adipisci dolore doloremque cupiditate a aspernatur possimus odit.
                </span>
            </div>
        </div>
    </div>
    
</section>