<section>
    <div id='channel-header'>
        <img src="../../assets/channelBanner.jpg" alt="">
    </div>
    <div id='channel-name'>
        <div id='channel-profile-picture'>
            <img src="../../assets/jarjit-picture.png" alt="">
        </div>
        <div id='profile-description'>
            <div id='inner-div'>
                <div id='inner-div-name'>
                    <div id='profile-name'>Jarjit</div>
                    <div id='profile-subs'>2000 subscribers</div>
                </div>
                <div><button>SUBSCRIBE</button></div>
            </div>
        </div>
    </div>
    <div id='channel-navbar'>
        <a href="main/channel/home"><div>HOME</div></a>
        <a href="main/channel/videos"><div>VIDEOS</div></a>
        <a href="main/channel/playlist"><div>PLAYLIST</div></a>
        <a href="main/channel/community"><div>COMMUNITY</div></a>
        <a href="main/channel/about"><div>ABOUT</div></a>
    </div>
    <div id='channel-content'>
        <router-outlet></router-outlet>
    </div>
</section>