<section>
    <div id='community-comment'>
        <div id='community-comment-part'>
            <div id='part-image'>
                <span><img src="../../../../assets/jarjit-picture.png" alt=""></span>
            </div>
            <div id='part-comment'>
                <div id='part-comment-header'>
                    <div id='title'>
                        Jarjit
                    </div>
                    <div id='counter'>
                        1 week ago
                    </div>
                </div>
                <div id='part-comment-comment'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, sed ab nostrum ratione excepturi nobis impedit sint esse nesciunt temporibus cumque eos, nemo quaerat harum provident accusantium consequuntur asperiores dolorum.
                </div>
            </div>
            <div id='part-setting'><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
        </div>
        <div id='community-comment-part'>
            <div id='part-image'>
                <span><img src="../../../../assets/jarjit-picture.png" alt=""></span>
            </div>
            <div id='part-comment'>
                <div id='part-comment-header'>
                    <div id='title'>
                        Jarjit
                    </div>
                    <div id='counter'>
                        1 week ago
                    </div>
                </div>
                <div id='part-comment-comment'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, sed ab nostrum ratione excepturi nobis impedit sint esse nesciunt temporibus cumque eos, nemo quaerat harum provident accusantium consequuntur asperiores dolorum.
                </div>
            </div>
            <div id='part-setting'><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
        </div>
        <div id='community-comment-part'>
            <div id='part-image'>
                <span><img src="../../../../assets/jarjit-picture.png" alt=""></span>
            </div>
            <div id='part-comment'>
                <div id='part-comment-header'>
                    <div id='title'>
                        Jarjit
                    </div>
                    <div id='counter'>
                        1 week ago
                    </div>
                </div>
                <div id='part-comment-comment'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, sed ab nostrum ratione excepturi nobis impedit sint esse nesciunt temporibus cumque eos, nemo quaerat harum provident accusantium consequuntur asperiores dolorum.
                </div>
            </div>
            <div id='part-setting'><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
        </div>
    </div>
    <div id='community-preference'>
        <div id='featured-header'>
            Featured Channel
        </div>
        <hr>
        <div id='featured-content'>
            <div id='featured-content-user'>
                <div><img src="../../../../assets/jarjit-picture.png" alt=""></div>
                <div id='featured-content-name'>Jarjit</div>
            </div>
            <div><button>SUBSCRIBE</button></div>
        </div>
        <div id='featured-content'>
            <div id='featured-content-user'>
                <div><img src="../../../../assets/jarjit-picture.png" alt=""></div>
                <div id='featured-content-name'>Jarjit</div>
            </div>
            <div><button>SUBSCRIBE</button></div>
        </div>
    </div>
</section>
