<section>
    <div id='description'>
        <div>
            <div class='description-header'>
                Description
            </div>
            <div>
                Dua tiga Jarjit Sin
            </div>
        </div>
        <hr>
        <div>
            <div class='description-header'>
                Details
            </div>
            <div id='details-description'>
                Location : Malaysia
            </div>
        </div>
        <hr>
        <div>
            <div class="description-header">
                Links
            </div>
            <div>
                <a href="main/home">youtube</a>
            </div>
        </div>
    </div>
    <div id='counter'>
        <div class='description-header'>
            Stats
        </div>
        <hr>
        <div>
            Joined 25, feb 2020
        </div>
        <hr>
        <div>
            2.430.000 Views
        </div>
        <hr>
        <div id='flag'>
            <span>
                <i class="fa fa-flag" aria-hidden="true"></i>
            </span>
        </div>
    </div>
    <div id='featured'>
        <div id='featured-header'>
            Featured Channel
        </div>
        <hr>
        <div id='featured-content'>
            <div id='featured-content-user'>
                <div><img src="../../../../assets/jarjit-picture.png" alt=""></div>
                <div id='featured-content-name'>Jarjit</div>
            </div>
            <div><button>SUBSCRIBE</button></div>
        </div>
        <div id='featured-content'>
            <div id='featured-content-user'>
                <div><img src="../../../../assets/jarjit-picture.png" alt=""></div>
                <div id='featured-content-name'>Jarjit</div>
            </div>
            <div><button>SUBSCRIBE</button></div>
        </div>
    </div>
</section>