<section>
    <div id='video-container'>
        <div id='video'>
            <video src="../../assets/dummyVideo.mp4" controls></video>
        </div>
        <div id='video-container-header'>
            <div id='video-container-header-title'>CARA MEMASAK ANGIN</div>
        </div>
        <div id='video-container-header-info'>
            <div id='video-container-view'>
                <div>
                    <span>35.521 view</span>
                    <span> • </span>
                    <span>Jul 12, 2020</span>
                </div>
            </div>
            <div id='video-container-attribute'>
                <div>
                    <span><i class="fa fa-thumbs-up" aria-hidden="true"></i> </span>
                    <span> 3.5K</span>
                </div>
                <div>
                    <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                    <span>300</span>
                </div>
                <div>
                    <span><i class="fa fa-share" aria-hidden="true"></i> </span>
                    <span>SHARE</span>
                </div>
                <div>
                    <span><i class="fa fa-bookmark-o" aria-hidden="true"></i></span>
                    <span>SAVE</span>
                </div>
                <div>
                    <span><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <hr>
        <div id='video-container-user'>
            <div id='container-user'>
                <div>
                    <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
                </div>
                <div>
                    <div>Jarjit</div>
                    <div>2000 subscribers</div>
                    <div id='container-user-comment'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel amet corrupti enim, blanditiis iste vero expedita a, temporibus aliquam eveniet dolorem nesciunt quis necessitatibus tenetur libero quidem accusantium sunt minima.</div>
                </div>
            </div>
            <div>
                <button>SUBSCRIBE</button>
            </div>
        </div>
        <hr>
        <div id='video-container-comment'>
            <div id='video-container-comment-header'>
                <div id='video-container-comment-counter'>
                    <span>7 Comments</span>
                </div>
                <div id='video-container-comment-sort'>
                    <span><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></span>
                    <span>SORT BY</span>
                </div>
            </div>
            <div id='video-container-comment-content'>
                <div class='comment-flex'>
                    <div id='content-user'>
                        <div>
                            <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div id='content-content'>
                        <div>
                            <span>
                                Jarjit
                            </span>
                            <span>
                                1 month ago
                            </span>
                        </div>
                        <div>
                            <p>
                                dua tiga burung ada yang lain tak ada
                            </p>
                        </div>
                    </div>
                </div>
                <div class='comment-flex'>
                    <div id='content-user'>
                        <div>
                            <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div id='content-content'>
                        <div>
                            <span>
                                Jarjit
                            </span>
                            <span>
                                1 month ago
                            </span>
                        </div>
                        <div>
                            <p>
                                dua tiga burung ada yang lain tak ada
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='list-container'>
        <div id='container-video'>
            <div id='container-video-video'>
                <video src="../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='container-video-attribute'>
                <div>
                    Cara Memasak Angin
                </div>
                <div>
                    Jarjit
                </div>
                <div>
                    <span>395 • </span>
                    <span>1 month ago</span>
                </div>
            </div>
        </div>
        <div id='container-video'>
            <div id='container-video-video'>
                <video src="../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='container-video-attribute'>
                <div>
                    Cara Memasak Angin
                </div>
                <div>
                    Jarjit
                </div>
                <div>
                    <span>395 • </span>
                    <span>1 month ago</span>
                </div>
            </div>
        </div>
        <div id='container-video'>
            <div id='container-video-video'>
                <video src="../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='container-video-attribute'>
                <div>
                    Cara Memasak Angin
                </div>
                <div>
                    Jarjit
                </div>
                <div>
                    <span>395 • </span>
                    <span>1 month ago</span>
                </div>
            </div>
        </div>
        <div id='container-video'>
            <div id='container-video-video'>
                <video src="../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='container-video-attribute'>
                <div>
                    Cara Memasak Angin
                </div>
                <div>
                    Jarjit
                </div>
                <div>
                    <span>395 • </span>
                    <span>1 month ago</span>
                </div>
            </div>
        </div>
        <div id='container-video'>
            <div id='container-video-video'>
                <video src="../../assets/dummyVideo.mp4"></video>
            </div>
            <div id='container-video-attribute'>
                <div>
                    Cara Memasak Angin
                </div>
                <div>
                    Jarjit
                </div>
                <div>
                    <span>395 • </span>
                    <span>1 month ago</span>
                </div>
            </div>
        </div>
    </div>
</section>